body{
   font-family:'Times New Roman', Times, serif;
   margin: 0px;
}

header{
   color:#bf1f3c;
   font-size: 20px;
}
.conteiner{
       background-color: #bf1f3c;
       width: 50%;
       border-radius: 40px;
       padding: 20px; 
       margin: auto;
       font-family: sans-serif;
       
}
#cadastro{
   color: #402429;
   background-color: #fff;
   width: 130px;
   height: 30px;
   border-radius: 10px;
   border: 2px solid #402429;
   outline: none;
   font-size: 20px;
   cursor: pointer;
   
}

#confirme{
   display:block;
   padding: 8px;
   width: 300px;
   border: 2px solid #402429;
   border-radius: 10px;
   outline: none;
   
 
}
#nome{
   display:block;
   padding: 8px;
   width: 300px;
   border: 2px solid #402429;
   border-radius: 10px;
   outline: none;
}
#email{
   display:block;
   padding: 8px;
   width: 300px;
   border: 2px solid #402429;
   border-radius: 10px;
   outline: none;
}
#senha{
   display:block;
   padding: 8px;
   width: 300px;
   border: 2px solid #402429;
   border-radius: 10px;
   outline: none;
}
.row{
   color: #fff;
   font-size: 20px;
   margin-top: 8px;
}
.a{
   font-size: 15px;
}